<h1>Welcome!</h1>
<h2>New Secret</h2>
<div class="container">
<form action="/" method="POST">
  <div class="row">
<div class="form-group">
  <textarea name="secret" placeholder="Write Secret Here..." vclass="form-control" id="textarea" rows="3"></textarea>
</div>
<button class="btn btn-primary" type="submit">Submit form</button>
</form>

<h2>Your Secrets</h2>
<div class="row">
  {{#each userSecrets as |userSecret|}}
  <span>{{userSecret.secret}}</span>
  <span>Posted by: {{User.username}}</span>
  {{/each}}
</div>
<h3>Requests for You!</h3>
<div class="row">
</div>
<button class="btn btn-primary" type="submit">Accept</button>
<button class="btn btn-primary" type="submit">Reject</button>


<h2>Shared Secrets</h2>
<div class="row">
</div>

</div>
</div>
